*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-image: linear-gradient(to right top, #675c62, #736571, #7c6e81, #827993, #8485a6, #7f8cad, #7993b3, #739ab7, #6e9bb0, #6d9ba7, #6f9a9f, #749997);
    height: 100vh;
    width: 100vw;
}
.cal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(72, 71, 71);
    width: 200px;
    border:1px solid black;
    border-radius: 3%;
}


button{
    border: 1px solid rgba(75, 73, 73, 0);
    width: 40px;
    height: 45px;
    border-radius: 50%;
    margin: 1px;
    background-color: rgb(111, 110, 110);
    color: white;
    cursor: pointer;
}


.orange{
    background-color: rgb(184, 140, 124);
}


input{
    width: 180px; 
    height: 50px;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(215, 213, 213); 
    border: 1px solid black;
    display: flex;
    align-items: center; 
    font-size: x-large;
    border-radius: 5%;
}

h1{
   padding: 20px; 
}